body{
    height: 100vh;
    width: 100vw;
}

.cust-mainContContainer {

    background: transparent url('/images/loginPage/Bg_ap.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    font-family: Lato;

}

.cust-title1-txt{
    text-align: left;
    font: normal normal bold 24px/29px Lato;
    letter-spacing: 2.59px;
    color: #2C363E;
    opacity: 1;
}

.cus-dash-opt-ctn .card{
    height: 303px;
    width: 266px;
}
.text_t {
    align-content: center;
    margin-top: 50px;
    padding-bottom: 10px;
    font: normal normal normal 21px/24px Lato;
    letter-spacing: -0.73px;
    color: #7E7E7E;
    opacity: 1;
}