@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    width: 100vw;
    height: 100vh;
}


.cust-mainContContainer {
    background: transparent url('/images/loginPage/Bg_ap.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}

.cust-tban-logo-cont{
    min-width: 180px;
    /* height: 98px;
    display: inline;*/
}

.cust-tban-logo img{
    min-width: 175px;
    max-width: 190px;
    /* height: 98px;
    display: inline;*/
}

.cust-tban-descr-container{

}

.cust-tban-desc-title {
    text-align: left;
    font: normal normal bold 24px/29px Lato;
    letter-spacing: 2.59px;
    color: #2C363E;
    opacity: 1;
}

.cust-tban-desc-txt {
    text-align: left;
    font: normal normal normal 21px/24px Lato;
    letter-spacing: -0.73px;
    color: #7E7E7E;
    opacity: 1;
}

.db-opt-title{
    text-align: left;
    font: normal normal 600 17px/21px Lato;
    letter-spacing: 2.08px;
    color: rgba(126, 126, 126, 1);
    opacity: 1;
}


.cus-gen-dash-allopt-ctn{
    background: transparent linear-gradient(90deg, #FFFFFFB9 0%, #FFFFFF7E 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    display:flex;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
    width: 100%;

}

.nav-link{
    font: normal bold 600 15px/19px Lato;
}

.container-fluid bg-transparent {
    font: normal bold 600 15px/19px Lato;
    color: #98C33E;
}

